:root{
  --primary-color:#fff;
  /* --secondary-color:#1c3fa8; */
  --secondary-color:#09C522;
  --dark-color:#c6c6cc;
  --light-color:#f5fff6;
  --primary-color-deep:#696b69;
  --success-color:#00e823;
  --error-color:#d9534f;

}
@import"https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'lato', sans-serif;
  color: #333;
  line-height: 1.6;

}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p{
  margin: 10px 0;
}
img{
  width: 100%;
}
code, pre{
  background: #333;
  color:#fff;
  padding: 10px;
}
/*NAVBAR STYLING*/
.navbar{
  background-color: var(--primary-color);
  color: #333;
  height: 70px;
  border: 0;
  border-bottom: 1px solid #b4becb;
  box-shadow: #b4becb;
  padding: 40px;
  z-index: 100;
}

.navbar ul{
  display: flex;
}
.navbar a{
  color: #141859;
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover{
  border-bottom: 2px #333 solid;
}
.navbar .flex{
    justify-content: space-between;
}

.logo a:hover{
  border: none;
}
.nav-link{
  aria-haspopup:true;
  data-toggle: dropdown;
  aria-expanded;

}
.navbar img {
  width: 200px;
  height: 70PX;
}

.dropdown .drop-btn{
  font-size: 16px;
  border: none;
  outline: none;
  /* color: white; */
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-menu {
  display: none;
  background-color: #fff;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: absolute;
}
/* Links inside the dropdown */
.dropdown-menu a {
  float: none;
  color: black;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/*showcase*/

.showcase{
  height: 400px;
  color:#fff;
  background-color: var(--primary-color);
  background-image: url(../images/world_bg.jpg) ;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
  border-bottom: 1px solid #b4becb;
  border: 0;

}
.showcase h1{
  font-size:40px;

}
.showcase p{
  margin: 20px 0;
}
.showcase .grid{
  overflow: visible;
  grid-template-columns: 55% 45%;
  grid-gap: 30px;
  border-bottom: 1px solid #b4becb;
  border: 0;
}

.showcase-text{
  animation: slideInFromLeft 1s ease-in;
}
.showcase-form{
  position: relative;
  top:60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  animation: slideInFromRight 1s ease-in;

}
.hidden{
  visibility: hidden;
  height: 0;
}
.showcase-form .form-control{
  margin: 30px 0;
}
.showcase-form input[type="text"],
.showcase-form input[type="email"]{
  border:0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus {
  outline: none;
}
.showcase::before,
.showcase::after{
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right:0;
  left:0;
  background:#fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
/* .showcase-text .form-control .btn .btn-primary{ */
.form-control .btn .btn-primary{
  color: var(--primary-color);
  background-color: var(--dark-color);
  animation: slideInFromBottom 1s ease-in;
}
/*stats*/
.stats{
  padding-top: 100px;
}
.stats-heading{
  max-width: 500px;
  margin: auto;
}
.stats .grid h3{
  font-size: 35px;
}
.stats .grid p{
  font-size: 20px;
  font-weight: bold;
}
.stats .grid i{
  height: 50px;
  width: auto;
}

/**cli*/
.cli .grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.cli .grid >*:first-child{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
}
/*cloud*/
.cloud .grid{
  grid-template-columns: 4fr 3fr;
}
.cloud h2, p, a{
  color: #333;
}
/*languages*/
.languages img{
  height: 50px ;
  width: 50px ;
}
.languages h3{
  color: #2C00DB;
  text-align: center;
}
.languages p{
  color: #333;
  text-align: center;
}
.languages h2{
  color: #333;
  margin-left: 30px;
}
.languages .flex{
  flex-wrap: wrap;
}
.languages .card{
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}
.languages .card h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.languages .card:hover{
  transform: translateY(-15px);
}
.box{
  background-image: url(../images/white_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  top:60px;
  height: 250px;
  border-radius: 20px;
  border-bottom: 1px solid #b4becb;
  border-top: 1px solid #b4becb;
  border-left: 1px solid #b4becb;
  border-right: 1px solid #b4becb;
  margin: auto;
  width: 1200px;
  padding: 40px;
  z-index: 100;
}

.box h1{
  margin-top: 2px;
}

.box .page-box .btn .btn-outline{
  text-align: center;
}

.post-box{
  background-color: #fff;
  height: 300px;
  border-radius: 10px;
  border-bottom: 2px solid #b4becb;
  border-top: 2px solid #b4becb;
  border-left: 2px solid #b4becb;
  border-right: 2px solid #b4becb;
  margin: auto;
  box-shadow:
  width: 800px;
  padding: 40px;
  z-index: 100;
}

/* features */
.features-head img{
  width: 200px;
  justify-self: flex-end;
}

.features-main h1{
  text-align: center;

}

.features-main .card >i{
  margin-right: 20px;
}

.features-main .grid{
  padding: 30px;
}

.features-main .grid > *:first-child{
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2){
  grid-column: 1 / span 2;
}



/* text-align: center; */


.size{
  height: 320px;
}
.card h1{
color: #1d82b8;
padding: 0;
margin-top: 10px;
}
.card img{
width: 100px;
height: 100px;
align-items: center;
margin-left: 80px;
}
.card p{
  padding: 0;
  margin-left: 20px;
  margin-top: 10px;
}
.coin{
  height: 130px;
  width: 120px;
}


.coin h4{
  margin-top: 0;
}
.coin img{
  width: 60px;
  height: 60px;
  margin: 0 5px;
}
.terms{
  max-width: 60%;
  align-items: center;
  margin: 50px 300px;
}
.terms img{
width: 400px;
height: 150px;
margin-left: 20%;;
}

.terms ul{
  list-style-type:square;
  list-style-position: inside;

}
.terms a{
  color: blue;
}
.terms h3{
  text-align: center;
  font-size: 18px;
}

.bedlist{
  list-style-type: lower-alpha;
  margin-left: 50px;
}
/* docs */

.docs-head img{
  width: 200px;
  justify-self: flex-end;
}

.docs-main h3{
  margin: 20px 0;

}

.docs-main .grid{
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}
.docs-main nav li{
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}
.docs-main a{
  color: #0525f7;
}
.docs-main a:hover{
  font-weight: bold;
}

.docs-abt .grid{
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}

/* footer */

footer{
  height: 400px;
}

.footer .social a{
  margin:0 10px;
  /* transition: transform 0.2s ease-in; */
}

.footer .pmnt p{
  margin-top: 0;
}
.footer .pmnt .logos{
  width: 300px;
  height: 80px;
  margin-bottom: 20px;
  padding: 3px;
  margin-top: 0;
}

.footer .social .icons{
  height: 20px;
  width: 20px;
  padding: 2px;
}
/* .footer .social a:hover{
  transform: translateY(-15px);
} */

.foot{
  color: rgb(46, 44, 44);
  text-align: center;
  background: #E7E8EB;
  padding:12px;
  font-family: 'roboto condensed';
  border-top: 1px solid #fff;
}
/* animations */

@keyframes slideInFromLeft{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromRight{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromTop{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateX(0);
  }
}

/* .footer{
  height: 50px;
} */
/* tablets and under */
@media(max-width:990px){
.grid,
.showcase .grid,
.stats .grid,
.cli .grid,
.cloud .grid{
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.navbar{
  width: 100%;
  padding: 5px;
  margin: 0;
  position: relative;
}

nav li{
  display: inline-block;
    cursor: pointer;
    margin-left: 0;
    text-align: left;
    font-size: 12px;
}
nav button{
  font-size: 12px;
}
.dropdown-menu {
  display: none;
  /* position: absolute; */
  background-color: #fff;
  text-align: left;

  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* position: absolute; */
}

.showcase{
  height: auto;
}
.showcase-text{
  text-align: center;
  margin-top: 40px;
  animation: slideInFromTop 1s ease-in;
}
.showcase-form{
  justify-self:center;
  margin: auto;
  animation: slideInFromBottom 1s ease-in;

}
.cli .grid >*:first-child{
  grid-column: 1;
  grid-row: 1 ;
}
.box {
  width: 100%;
  height: 250px;

}

.terms{
  max-width: 80%;
  align-items: center;
  margin: 50px 40px;
}
.terms img{
width: 300px;
height: 120px;
margin-left: 40px;
}
.features{
  width: 100%;
  height: auto;
  margin-left: 50px;

}

.features-main .grid > *:first-child{
  grid-column: 1 / span 1;
}

.features-main .grid > *:nth-child(2){
  grid-column: 1 / span 1;
}

.docs-main .grid{
  grid-template-columns: 1fr;
}

.post-box{
  margin-bottom: 100px;
}

.coin{
  height: 50px;
  width: 50px;
}


.coin h4{
  visibility: hidden;
  margin-top: 0;
  font-size: 4px;
  height: 0;
  width: 0;
}
.coin img{
  width: 30px;
  height: 30px;
  margin:  -10px;
  margin-bottom: 20px;
  margin-top: -18px;
}


footer{
  height: 800px;
}

.footer li{
  margin:0 10px;
}

.footer .pmnt p{
  margin-top: 0;
}
.footer .pmnt .logos{
  width: calc(100vw - 45vw);
  height:150px;
  margin-bottom: 20px;
  padding: 3px;
  margin-top: 0;
}

/* mobile */
@media(max-width:500px){
  .navbar{
    max-width: 500px;
    height: 110px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar ul{
    padding: 2px;
    background: none;
  }

  .navbar li{
    padding-left: -4px;
    margin-left: -9px;
  }

  .navbar .dropdown{
    padding-left: -5px;
    margin-left: -9px;
  }

  .navbar .swap{
    visibility: hidden;
    border: 0;
    padding: 0;
    margin: 0;


  }


  .coin{
    height: 50px;
    width: 50px;
  }


  .coin h4{
    visibility: hidden;
    margin-top: 0;
    font-size: 4px;
    height: 0;
    width: 0;
  }
  .coin img{
    width: 30px;
    height: 30px;
    margin:  -10px;
    margin-bottom: 20px;
    margin-top: -18px;
  }


  footer{
    height: 600px;
  }

  .footer li{
    margin:0 10px;
  }

  .footer .social p{
    margin-top: 0;
  }
  .footer .pmnt .logos{
    width: calc(100vw - 45vw);
    height:100px;
    margin-bottom: 10px;
    padding: 3px;
    margin-top: 0;
  }

}
